*.class
.svn/
.idea/
.gradle/
#.classpath
#.settings
#.project

# folder  #
target/
bin/
obj/
logs/
gen/

# Package Files #
#*.jar
*.war
*.ear
*.log
#*.dll
*.exe
*.suo
*.iml
*.user

android-support-v4.jar.properties
local.properties
build/